[submodule "cglmlib"]
	path = cglmlib
	url = https://github.com/recp/cglm.git
[submodule "stb_lib"]
	path = stb_lib
	url = https://github.com/nothings/stb.git
[submodule "glfw_lib"]
	path = glfw_lib
	url = https://github.com/glfw/glfw.git
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy.git
